<?xml version="1.0"?>

<configuration>
  <appSettings>
    <!-- The following 2 keys hold the connectionstrings to be used, example given -->
    <add key="UIFS.Log" value="connectionstring" />
    <add key="SQL_Default" value="DATA SOURCE=;UID=;PWD=;DATABASE=" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows"/>
    <identity impersonate="false" />
  </system.web>

  <system.webServer>
    <!-- <modules runAllManagedModulesForAllRequests="true"/>-->
    <!--<validation validateIntegratedModeConfiguration="false" />-->
    <defaultDocument>
      <files>
        <add value="designer.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
